# dotnet
bin/
obj/
*.user
*.Backup.tmp
*.log

# Visual Studio / VSCode
.vs/
.vscode/
*.suo
*.user
*.cache
*.pdb

# sqlite
*.db
*.db-shm
*.db-wal

# node
node_modules/
dist/

# misc
.env
.env.local
.env.*.local

#notes
*.txt

# OS
Thumbs.db
.DS_Store
